<!-- ***Home callback html start from here*** -->
<section class="home-callback bg-color-callback primary-bg">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-md-8">
             <h5 class="sub-title">ПРИЗЫВ К ДЕЙСТВИЮ</h5>
             <h2 class="section-title">ГОТОВЫ К НЕЗАБЫВАЕМЫМ ПУТЕШЕСТВИЯМ. ПОМНИ НАС!</h2>
             <p>Мне кажется, что некоторые люди хотят сделать это объявление, но только первые, и никто другой. Появление хвалителей. Его непременно украсит эластичность, подгонка.</p>
          </div>
          <div class="col-md-4 text-md-end">
             <a href="{% url 'contacts' %}" class="outline-btn outline-btn-white">СВЯЗАТЬСЯ С НАМИ !</a>
          </div>
       </div>
    </div>
 </section>
 <!-- ***Home callback html end here*** -->